.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent ;
    -fx-padding: 8;
}

.jfx-text-field, .jfx-password-field, .jfx-textarea-field {
    -jfx-focus-color: #00AD8E;
    -jfx-unfocus-color: #757575;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area, .text-area, .check-box, .jfx-check-box, .text-field,
.label, .jfx-password-field, .jfx-combo-box, .date-picker, .jfx-button, .tab, .list-view{
    -fx-font-size: 16px;
}

.system-title {
    -fx-font-size: 37px;
    -fx-font-weight: bold;
}

.heading-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.bold {
    -fx-font-weight: bold;
}

// CONTEXT MENU
.context-menu {
  -fx-background-color: WHITE;
  -fx-text-fill: "#757575";
  -fx-background-radius: 4;
  -fx-border-radius: 4;
}

.menu-item .label {
    -fx-padding: 5;
    -fx-text-fill: "#757575";
}

.menu-item:focused {
    -fx-background-color: "#00AD8E";
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

// SCROLLPANE
.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

// NAV MENU
.active-menu {
    -fx-background-color: white;
    -fx-text-fill: #00AD8E;
}

// CARDS
.card {
    -fx-background-color: #fdfdfd;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 7, 0, 0, 0);
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3),10, 0, 0, 0);
}

.card:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5),11, 0, 0, 0);
}

.card-success {
    -fx-background-color: #388e3c;
}

.card-danger {
    -fx-background-color: #f44336;
}

.card-warning {
    -fx-background-color: #ff9800;
}

.card-info {
    -fx-background-color: #2196f3;
}

.card-theme {
    -fx-background-color: #00AD8E;
}

.btn-sucess {
    -fx-background-color: #388e3c;
    -fx-text-fill: white;
}
.btn-danger {
    -fx-background-color: #f44336;
}

.btn-warning {
    -fx-background-color: #ff9800;
}

.btn-info {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
}

.btn-theme {
    -fx-background-color: #00AD8E;
}

// popup
.popup-holder {
    -fx-background-color: #fdfdfd;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 7, 0, 0, 0);
}

// TABLE
.table-view{
   -fx-background-color: transparent;
   -fx-font-size:  1.5em;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background,
.table-view .filler {
    -fx-background-color: #009688;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 10 0 10 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #212121;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #eafffe
;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #26a69a;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .text {
    -fx-fill: #FFFFFF;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
